@font-face {
  font-family: "MyFont";
  src: url("../font/MyFont.eot?s18mh3");
  src: url("../fonts/MyFont.eot?s18mh3#iefix") format("embedded-opentype"), url("../font/MyFont.ttf?s18mh3") format("truetype"), url("../font/MyFont.woff?s18mh3") format("woff"), url("../font/MyFont.svg?s18mh3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "MyFont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "\e900";
}

.icon-chevron-down:before {
  content: "\e901";
}

.icon-facebook-f:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-pinterest:before {
  content: "\e904";
}

.icon-quote-left:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-thumbs-up:before {
  content: "\e907";
}

.icon-twitter:before {
  content: "\e908";
}

.icon-youtube:before {
  content: "\e909";
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.2s, border 0.2s, background 0.2s, display 0.2s;
  transition: color 0.2s, border 0.2s, background 0.2s, display 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Aleo", serif;
  font-weight: 300;
  color: #fff;
}

.header {
  height: 90vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/HeaderBackground.jpg);
}

.header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header .container__header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

.header__subheader {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  margin-bottom: 48px;
}

.header__search__search {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  width: 100%;
  padding: 20px 188px 20px 36px;
  border: transparent;
}

.header__search__wrapper {
  max-width: 647px;
  margin: 0 auto;
  position: relative;
}

.header__search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background: #5373fd;
  border: transparent solid 1px;
  padding: 16px 24px;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

.header__search__button .icon-search {
  font-size: 15px;
  margin-right: 12px;
}

.header__search__button:hover {
  background: transparent;
  color: #5373fd;
  border: #5373fd solid 1px;
}

.header__scroll {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  position: absolute;
  bottom: 120px;
  left: 40%;
  right: 40%;
  cursor: pointer;
}

.header__nav {
  height: 10vh;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.header__nav__logo:hover {
  border-bottom: 1px solid #fff;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
}

.header__menu__item {
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid #fff;
}

.header__menu__item:not(:first-child) {
  margin-left: 40px;
}

.header .wrapper {
  background: #5373fd;
}

.why {
  margin-top: 10vh;
  padding: 124px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/WhyBackground.jpg);
}

.why__header {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.why__info {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 32px;
}

.why__button {
  min-width: 213px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 32px;
  background: url(../img/ButtonBG.png) no-repeat left center, #5373fd;
  border: 1px solid transparent;
  cursor: pointer;
}

.why__button:hover {
  background-size: 85%;
  background-position-x: 50px;
}

.why__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__images .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.why__images img:first-child {
  margin-bottom: 16px;
}

.why .row__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps {
  background: url(../img/svg/Line.svg) no-repeat center 63px, #333333;
  text-align: center;
  padding: 123px 0 59px;
}

.steps__header {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
}

.steps i {
  font-size: 64px;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #333333;
}

.steps .icon-search {
  color: #5373fd;
}

.steps .icon-search:hover {
  color: #0229ce;
}

.steps .icon-check-circle {
  color: #ff6363;
}

.steps .icon-check-circle:hover {
  color: #e30000;
}

.steps .icon-thumbs-up {
  color: #00a2ff;
}

.steps .icon-thumbs-up:hover {
  color: #005180;
}

.spain {
  font-family: "Josefin Sans", sans-serif;
  padding: 220px 0 120px;
}

.spain--left {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/BG3.jpg);
}

.spain--right {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/spain.jpg);
}

.spain--right .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spain .body__wrapper {
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
}

.spain__subheader, .spain__header {
  font-size: 20px;
  line-height: 28px;
}

.spain__subheader {
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.spain__header {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.spain__info {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

.spain__button {
  min-width: 213px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 32px;
  background: url(../img/ButtonBG.png) no-repeat left center, #5373fd;
  border: 1px solid transparent;
  cursor: pointer;
}

.spain__button:hover {
  background-size: 85%;
  background-position-x: 50px;
}

.feedback {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/BGlast.jpg);
  padding: 120px 0 180px;
}

.feedback .row > * {
  padding: 0;
}

.feedback__img {
  height: 100%;
  font-size: 0;
  line-height: 0;
}

.feedback__header {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}

.feedback__subheader {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feedback__info {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

body .container .feedback__wrapper {
  background-color: #333333;
  padding: 48px 60px;
}

body .container .feedback__wrapper .icon-quote-left {
  display: inline-block;
  font-size: 20px;
  color: #5373fd;
  vertical-align: super;
}

.footer {
  text-align: center;
  background-color: #000;
  padding: 80px 0;
  font-family: "Josefin Sans", sans-serif;
}

.footer__header {
  margin-bottom: 8px;
}

.footer__header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.footer__info {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}

.footer i {
  cursor: pointer;
  font-size: 32px;
}

.footer i:hover {
  color: #5373fd;
}

.footer i:not(:last-child) {
  margin-right: 32px;
}

@media screen and (max-width: 1399.98px) {
  .steps {
    background-size: 60%;
  }
}

@media screen and (max-width: 1199.98px) {
  .feedback__img {
    background-position: left center;
  }
}

@media screen and (max-width: 991.98px) {
  .header {
    height: 100vh;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .wrapper {
    min-height: 136px;
    padding: 32px 0;
  }
  .why {
    margin-top: 136px;
    text-align: center;
    padding: 60px 0;
  }
  .header__nav__logo {
    margin-bottom: 32px;
  }
  .why__images {
    margin-bottom: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .why__images img {
    width: 48%;
  }
  .why__images img:first-child {
    margin-bottom: 0;
  }
  .steps {
    background-image: none;
    padding: 60px 0 0 0;
  }
  .steps__header {
    margin-bottom: 60px;
  }
  .spain {
    padding-top: 120px;
  }
  .feedback {
    padding: 60px 0 120px;
  }
  .feedback__img {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
  .header__menu.active {
    display: block;
    margin-top: 64px;
  }
  .header__nav__logo {
    margin-bottom: 0;
    margin-top: 18px;
  }
  .header .wrapper {
    min-height: 80px;
    padding: 11px 0;
  }
  .why {
    margin-top: 80px;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .header__menu__item:last-child {
    margin-bottom: 21px;
  }
  .header__nav {
    height: 100%;
  }
  .header__menu__item:not(:first-child) {
    margin-left: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .header__nav__logo {
    font-size: 20px;
  }
  .why__images img {
    width: 100%;
  }
  .why__images {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #nav-icon2 {
    display: none;
  }
}

#nav-icon2 {
  right: 42px;
  top: 6px;
  width: 60px;
  height: 45px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

#forBurger {
  position: relative;
}
/*# sourceMappingURL=style.css.map */