$xl: 1399.98px;
$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;
@media screen and (max-width: $xl) {
  .steps {
    background-size: 60%;
  }
}
@media screen and (max-width: $lg) {
  .feedback__img {
    background-position: left center;
  }
}

@media screen and (max-width: $md) {
  .header {
    height: 100vh;
  }
  .header__nav {
    flex-direction: column;
    justify-content: center;
  }
  .header .wrapper {
    min-height: 136px;
    padding: 32px 0;
  }
  .why {
    margin-top: 136px;
    text-align: center;
    padding: 60px 0;
  }
  .header__nav__logo {
    margin-bottom: 32px;
  }
  .why__images {
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 48%;
    }
  }
  .why__images img:first-child {
    margin-bottom: 0;
  }
  .steps {
    background-image: none;
    padding: 60px 0 0 0;
  }
  .steps__header {
    margin-bottom: 60px;
  }
  .spain {
    padding-top: 120px;
  }
  .feedback {
    padding: 60px 0 120px;
  }
  .feedback__img {
    width: 100%;
  }
}

@media screen and (max-width: $sm) {
}

@media screen and (max-width: $xs) {
}

@media screen and (min-width: 768px) {
}
